PORT= 
NODE_ENV= 
LOGTAIL_TOKEN= 
LOGTAIL_HOST= 
MONGO_URI= 
WHITELISTED_EMAILS= 
JWT_ACCESS_SECRET= 
JWT_REFRESH_SECRET= 
JWT_PASSWORD_RESET_SECRET= 
SMTP_AUTH_USERNAME= 
SMTP_AUTH_PASSWORD= 
CLIENT_ORIGIN= 
REDIS_URL= 
BACKEND_API=